<!DOCTYPE HTML>
<html>
  <head>
    <!--載入JavaScript, jQuery, Popper.js, Bootstrap.js-->
    <link
	rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>

    <script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

	<!--meta tags-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--mainpage-->
	<title>主頁面</title>
</head>

<body>
  <div class"cotainer-fluid">
    <div class="row">
	  <!--帳號相關資訊欄-->
	  <div class="col-2">
		<!--上車圖區-->
		<br>
	    <figure class="figure">

      {% if user.is_authenticated %}
      <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" class="figure-img img-fluid rounded-circle" alt="上車上車">
		  <figcaption class="figure-caption text-right">{{user.username}}</figcaption>
      {% else %}
      <img src="https://zdnet1.cbsistatic.com/hub/i/2018/08/07/828a6f3b-a1b8-4030-9a41-2907daada863/63b984e5db9a0deb6555816e78e84793/ml-recorded-future.png" class="figure-img img-fluid rounded-circle" alt="上車上車">
      <figcaption class="figure-caption text-right">Welcome</figcaption>
      {% endif %}

		</figure>
		<!--功能欄-->
    {% if user.is_authenticated %}
	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

      <a class="nav-link active" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab"
  		aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>

		  <a class="nav-link" id="v-pills-select-tab" data-toggle="pill" href="#v-pills-select" role="tab"
		  aria-controls="v-pills-select" aria-selected="false">Select</a>

		</div>
		<br><hr>
		<!--登出-->
		<button type="button" class="btn btn-outline-danger btn-sm btn-block" onclick="javascript:location.href='{% url 'logout' %}'">Logout</button>
    </div>
    <div class="col-10 box">
    {% else %}
    <button type="button" class="btn btn-outline-dark btn-sm btn-block" onclick="javascript:location.href='{% url 'sign' %}'">SignUp</button>
    <br><hr>
    <button type="button" class="btn btn-outline-danger btn-sm btn-block" onclick="javascript:location.href='{% url 'login' %}'">Login</button>
    </div>
    <div class="col-10 box">
      <img src="http://140.128.101.227/file/photo.jpg" class="figure-img img-fluid">
    {% endif %}

	    <div class="tab-content" id="v-pills-tabContent">

      <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"
		  aria-labelledby="v-pills-dashboard-tab">

      {% if user.is_authenticated %}
      {% if userown != '' %}
      <table class="table table-striped table-hover" style="table-layout:fixed">
        <thead>
          <tr>
  	  <th scope="col" width="20%">Name</th>
      <th scope="col" width="7%">Ram</th>
      <th scope="col" width="10%">Port</th>
  	  <th scope="col" width="18%">Save</th>
      <th scope="col" width="20%">Delete</th>
      <th scope="col" width="20%">Restore</th>
  	</tr>
        </thead>
        <form id="save" action="{% url 'save' %}" method="post">{% csrf_token %}</form>
        <form id="load" action="{% url 'load' %}" method="post">{% csrf_token %}</form>
        <form id="delete" action="{% url 'delete' %}" method="post">{% csrf_token %}</form>
        <form id="restore" action="{% url 'restore' %}" method="post">{% csrf_token %}</form>
        <tbody>
          {% for u in userown %}
  	<tr>
  	  <td align="left">{{ u.name }}</td>
      <td align="center">{{ u.ram }}</td>
      <td align="center">{{ u.port }}</td>
      <td>
        <button type="submit" name="btn_sav" form="save" value="{{ u.name }}" class="btn btn-outline-success btn-sm btn-block" >save</button>
      </td>
      <td>
        <button type="submit" name="btn_del" form="delete" value="{{ u.name }}" class="btn btn-outline-danger btn-sm btn-block" >delete</button>
      </td>
      <td>
        {% if u.backup %}
        <button type="submit" name="btn_restore" form="restore" value="{{ u.id }}" class="btn btn-outline-primary btn-sm btn-block" >restore</button>
        {% else %}
        <button class="btn btn-outline-secondary btn-sm btn-block" disabled>restore</button>
        {% endif %}
      </td>
      {% if u.id == restore %}
      <tr>
      <td></td><td></td><td></td><td></td>
      <td align="center">
      <select form="load" name=tarselect>
      {% for b in backup %}
      <option value="{{ b.repo }}+{{ b.tag }}">{{ b.tag }}</option>
      {% endfor %}
      <select>
      </td>
      <td>
      <button type="submit" name="btn_rst" form="load" class="btn btn-info btn-sm btn-block" >load</button>
      </td>
    </tr>
      {% endif %}
    </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <table class="table table-striped table-hover" style="table-layout:fixed">
      <p>You've got no container</p>
      </table>
      {% endif %}
      {% else %}
      <div style="color:white;">
        <br>
        <p>WELCOME TO MLCS</p>
        <p>PLEASE LOGIN OR REGISTER</p>
      </div>

      {% endif %}

		  </div>

          <div class="tab-pane fade" id="v-pills-select" role="tabpanel"
		  aria-labelledby="v-pills-select-tab">
      <form action="{% url 'select' %}" method="post">
        {% csrf_token %}
        <HR>
        <h4>Name of the Container</h4>
        <div div class="form-row">
  	  <div class="form-group" col-md-3>
        name: <input class="form-control" type="text" name="cname" required autofocus>
  	  </div>
      </div>
        <HR>
        <h4>GPU Select</h4>
        <table>
          {% for g in gpu %}
  		<div class="form-check">
            <input class="form-check-input" type="checkbox" name="gpuselect" value="{{ g.id }}">{{ g.name }}<br>
  		</div>
          {% endfor %}
        </table>
        <HR>
        <h4>RAM Select</h4>
      <div div class="form-row">
  	  <div class="form-group" col-md-3>
        unit:GB <input type="text" class="form-control" name="ram" required>
  	  </div>
      </div>
        <HR>
        <h4>Image Select</h4>
        <div div class="form-row">
        <div class="form-group" col-md-3>
        <select class="form-control" name=imageselect>
          {% for i in image %}
            <option value="{{ i.name }}">{{ i.name }}</option>
          {% endfor %}
        </select>
        </div>
        </div>
        <HR>
          {% for e in error %}
            <p style="color: red">{{ e }}</p>
          {% endfor %}
        <input class="btn btn-outline-secondary" type="submit" value="Add" name="submit" onclick="alert('connect address : mlcs.cs.thu.edu.tw\nuser : root\ndefault passwd : mlverygood\nhighly recommand to change the passwd')">
      </form>
		  </div>

        </div>

	  </div>
    </div>
    </div>
  </body>
</html>
