<!doctype html>
<html>
    <title>SAVE</title>
  <head>
    <h1>SAVE</h1>
  </head>
  <body>
    <form action="{% url 'save' %}" method="post">
    	{% csrf_token %}
      <input type="submit" value="select" />
    </form>
    <form action="{% url 'save' %}">
      <input type="submit" value="save" />
    </form>
    <input type ="button" onclick="javascript:location.href='{% url 'index' %}'" value="back"></input>
    <input type ="button" onclick="javascript:location.href='{% url 'select' %}'" value="save"></input>
    <br><br>

    <p>{{ save }}</p>

  </body>
</html>
