<!DOCTYPE HTML>
<html>
  <head>
    <!--載入JavaScript, jQuery, Popper.js, Bootstrap.js-->
    <link
	rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>

    <script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

	<!--meta tags-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--login-->
	<title>login</title>
</head>
<body>
  <div class"cotainer-fluid">
    <div class="row justify-content-center">
      <div class="col-3">
      <br>
      {% if next %}
      <p>no authorization</p>
      {% endif %}
      <p class="h1 text-center">Login</p>
		<br>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="UserName">User ID</label>
        <p>{{form.username}}</p>
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
        <p>{{form.password}}</p>
        </div>

        {% if form.errors %}
        <p style="color: red">wrong account or password</p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
    </div>
	</div>
  </div>


  </div>

</body>
</html>
